# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.OurGame.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\process\OurGame\.idea\.idea.OurGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
